# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DATN_Ban_Giay\DATN_SD-31_BE_Hyper-Sneakers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
